body{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    overflow: hidden;
}
.highVis{
    border: 1px solid #0026FF;
    background-color: #e0e0e0;
}
.fullHeight{
    min-height: 100%;
}
.nineHeight{
    min-height: 90%;
}
.headHeight{
    min-height: 10px;
}
